@model CommonLayer.Employee.EmployeeModel

@{
    ViewData["Title"] = "Edit";
}
<div class="bodyedit">
    <h1>Edit</h1>

    <h4>EmployeeModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Emp_id" class="control-label"></label>
                    <input asp-for="Emp_id" class="form-control" />
                    <span asp-validation-for="Emp_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="Profile_Image" class="control-label"></label>
                        <input asp-for="Profile_Image" class="form-control" />
                        <span asp-validation-for="Profile_Image" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Profile_Image" class="control-label"></label>
                    <div>
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Male (1).png")
                        <img class="Profile_image-1" src="~/Assets/Male (1).png" />
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Female (1).png")
                        <img class="Profile_image-1" src="~/Assets/Female (1).png" />
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Male (2).png ")
                        <img class="Profile_image-1" src="~/Assets/Male (2).png" />
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Female (2).png ")
                        <img class="Profile_image-1" src="~/Assets/Female (2).png " />
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Male (3).png ")
                        <img class="Profile_image-1" src="~/Assets/Male (3).png " />
                        @Html.RadioButtonFor(model => model.Profile_Image, "~/Assets/Female (3).png ")
                        <img class="Profile_image-1" src="~/Assets/Female (3).png " />
                        <span asp-validation-for="Profile_Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Start_Date" class="control-label"></label>
                    <input asp-for="Start_Date" class="form-control" />
                    <span asp-validation-for="Start_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

            </form>
        </div>
    </div>
    <div class="form-group2">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="List">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
